node-linker=hoisted
legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*@package/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@nestjs/cli*
public-hoist-pattern[]=*nest*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*expo-cli*
public-hoist-pattern[]=*@prisma/client*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*nativewind*
public-hoist-pattern[]=*tailwindcss*